@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@try
{
    <h2>@Model.Name</h2>
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        @if (!Model.DateOfBirth.Equals(null))
        {
            <li>Date Of Birth: @Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</li>
        }
    </ul>
}
catch(Exception)
{
    <h2>No Customer found</h2>
}